@import "_vars";

#footer {
    color: black;
    background-color: #fce0a2;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.redes__contenedor {
    width: fit-content;
    text-align: center;
}

.redes__logo {
    height: 72px;
}
