@import "_vars";
@import "_mixins";
@import "_fonts";

nav {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;

    ul {
        list-style: none;
        display: inline-block;

        li {
            a {
                font-family: $mainFont;
            }
        }
    }
}

@include phone {
    nav {
        background: #f3f3e7;
        ul {
            li {
                margin-bottom: 5px;
            }
        }
        a {
            display: flex;
            justify-content: center;
            img {
                margin-left: 0px !important;
            }
        }
    }

    .secciones__lista {
        display: grid;
        text-align: center;
    }
}

@include desktop-small {
    nav {
        ul {
            li {
                display: inline-block;
                margin: unset;
            }
        }
    }
}

.secciones {
    padding-bottom: 30px;
    margin-top: 30px;
}

.secciones__lista {
    a {
        font-weight: bold;
    }

    li {
        display: inline-block;
        margin: 0 79px;

        a {
            font-size: 2rem;
            text-decoration: none;
            color: $black-text;
            background-image: linear-gradient(to right, $green 50%, black 50%);
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 5px 0;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;

            &:before {
                content: '';
                background: $green;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                background-position: 0;

                &::before {
                    width: 100%;
                }
            }
        }

        .active {
            background-position: 0;

            &::before {
                width: 100%;
            }
        }
    }
}