$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


/* COLORS */
$green: #4f963a;
$dark-green: #165016;
$greenButton: rgb(79, 150, 58);

$black-text: #1f1d1d;

$footer-color: #fce0a2;