@import "_vars";
@import "_mixins";
@import "_fonts";
@import "_nav";
@import "_footer";

.contenedor {
    margin-top: 50px;
}

.card {
    border: 1px solid lightgray !important;
    border-radius: 15px !important;
    box-shadow: #0000001a 0px 4px 12px, #0a254059 0px -2px 4px -2px inset;
    padding: 25px;
}

.encabezado__telefono {
    background-color: $green;
    color: white;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    font-weight: 600;
}

.encabezado__link {
    text-decoration: none;
    color: white;
}

.boton__accion {
    background-color: $greenButton;
    color: white;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 80px;
    cursor: pointer;
    border: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    transition: all 0.15s ease-out;

    &:hover {
        box-shadow: $greenButton 0 1px 30px;
        transform: scale(1.1);
    }
}

.card-precios {
    @extend .card;
    width: 220px;
    padding-top: 15px;
    transition: all .2s ease-in-out;

    &:hover {
        transform: translateY(-3px) scale(1.05) translateZ(0);
        background: #6edb000a;
    }

    .info {
        flex-grow: 1;

        h2 {
            font-weight: 900;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        ul {
            li {
                border-top: 1px solid #e1f1ff;
                font-size: 14px;
                line-height: 1.5;
                padding: 15px 0;
                font-weight: 600;
            }
        }
    }

    ul {
        list-style: none;
    }

    .img-container {
        padding-top: 15px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: auto;
            width: 100%;
            max-width: 120px;
            align-self: center;
        }
    }

    .precio {
        padding-top: 15px;
        margin-top: 20px;
        border-top: 3px solid $green;
        font-weight: 900;
    }
}

.icon {
    float: right;
}

.servicios {
    margin-top: 50px;
}

.encabezado-img {
    width: 100%;
    display: none;
}

.logo {
    border-radius: 28px;
    margin-left: 52px;
    margin-top: 48px;
    background: white;
    height: 100%;
    width: auto;
    max-height: 129px;
}

.novedades__info {
    display: grid;
    grid-template-columns: auto auto;

    img {
        width: 100%;
        height: auto;
    }
}

.novedades__info__texto {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 3rem;
}

.subtitulo__contacto {
    color: $green;
    margin-bottom: 25px;
}

.contenedor__faq__titulo {
    padding-top: 1em;
    padding-bottom: 1em;
}

.contenedor__faq__subtitulo {
    margin-bottom: 1em;
}

.contenedor__faq__info {
    background-color: #f3f3e7;
    color: $green;
    padding: 5px;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 18px;
    font-weight: 600;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1em;
    padding-bottom: 80px;

    h2 {
        margin-top: 2em;
        text-decoration: underline;
    }

    p {
        margin-top: 1em;
    }
}

.faq-title {
    font-weight: 900;
}

.testimonio-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

.nosotros__size {
    h1 {
        font-size: 4em;
    }
}

.input-box {
    h4 {
        margin-bottom: 20px;
    }
}

.contacto__botones {
    button {
        color: white;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        border: transparent;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border-radius: 30px;
    }
}

.contacto__botones__cancelar {
    background-color: red;
    margin-right: 10px;
}

.contacto__botones__enviar {
    background-color: green;
}

.btn-success {
    background-color: $greenButton  !important;

    &:hover {
        background-color: rgb(61, 114, 45) !important;
    }
}

@include phone-big {
    h1 {
        font-size: 3rem;
        word-break: break-word;
    }

    .contenedor {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@include phone {
    .card {
        width: auto;
    }
}

@include tablet {
    .card-precios {
        width: 100%;
        margin-bottom: 3em;
    }

    .novedades__info {
        grid-template-columns: none;
        grid-template-rows: auto auto;

        img {
            order: 1;
            max-width: 30rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .novedades__info__texto {
        order: 2;
        text-align: center;
        grid-gap: 5rem;
    }

    .precios {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        justify-content: unset;
        grid-gap: 3rem;
    }
}

@include responsive (map-get($breakpoints, sm), map-get($breakpoints, lg)) {
    .card {
        display: grid;
        width: auto;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 15px;
        grid-row-gap: 15px;

        .img-container {
            grid-area: 1 / 1 / 2 / 2;
        }

        .info {
            grid-area: 1 / 2 / 2 / 3;
        }

        h2 {
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    .card-precios {
        width: 100%;
    }

}